{%- include head.html -%}
{{ site.title }}

    {% assign links = site.data.navigation %} {% for link in links %} {% assign class = nil %} {% if page.url contains link.url %} {% assign class = 'active' %} {% endif %} {% if link.sublinks %}
    {{ link.title }}
        {% for sublink in link.sublinks %} {% if sublink.title == 'separator' %}
        {% else %}
        {{ sublink.title }}
        {% endif %} {% endfor %}
    {% else %}
    {{ link.title }}
    {% endif %} {% endfor %}

{{ site.myboun.name }}
{{ site.myboun.title }}

    {%- if site.myboun.social_links.twitter -%}
    {%- endif -%} {%- if site.myboun.social_links.scholar -%}
    {%- endif -%} {%- if site.myboun.social_links.dblp -%}
    {%- endif -%} {%- if site.myboun.social_links.orcid -%}
    {%- endif -%}

Contact

    +90 212 3596698
    basak.aydemir@boun.edu.tr
    fatmabasak.aydemir

Address
Boğaziçi Üniversitesi
Bilgisayar Mühendisliği Bölümü
Bebek, İstanbul, 34342, Turkey
{{ content }}
© 2020 Copyright: {{ site.myboun.name }}
